<div class="container">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{ config?.title | uppercase }}</span>
    </div>
  </nav>

  <div class="col">
    <button
      class="btn col s2 offset-s10 ml-5"
      (click)="
        addTask(nameInput.value, taskDeadline.value);
        nameInput.value = '';
        taskDeadline.value = ''
      "
    >
      Dodaj zadanie
    </button>

    <button class="btn col s2 offset-s10 ml-5" (click)="createTask()">
      Dodaj zadanie 2
    </button>

    <button class="btn col s2 offset-s10 ml-5">Zakończ</button>
  </div>

  <div class="row">
    <input
      class="col s8"
      type="text"
      placeholder="Dodaj zadanie i datę wykonania"
      (keyup)="onKeyUp($event)"
      #nameInput
      [(ngModel)]="taskName"
    />
    <input
      class="col s2 disabled"
      type="date"
      #taskDeadline
      (input)="(0)"
      [(ngModel)]="taskDate"
    />
    <button
      class="btn-floating"
      (click)="newTask(nameInput, taskDeadline)"
      [disabled]="
        nameInput.value.trim().length === 0 ||
        taskDeadline.value.trim().length === 0
      "
    >
      +
    </button>
  </div>
  <div>Input: {{ inputTest }}</div>

  <ul class="collection">
    <li
      *ngFor="
        let item of tasks;
        let i = index;
        let first = first;
        let last = last
      "
      class="collection-item row"
    >
      <span class="col s10">
        {{ i + 1 }}. [{{ item.deadline | date: 'yyyy-MM-dd EEEEEE':'':'pl' }}] -
        {{ item.name }}
        <span *ngIf="first"> first</span>
        <span *ngIf="last"> last</span>
      </span>
      <div class="col s2 right-align">
        <button class="btn-floating btn-small red">
          <i class="material-icons">remove</i>
        </button>
        <button class="btn-floating btn-small green ml-5">
          <i class="material-icons">check</i>
        </button>
      </div>
    </li>
  </ul>

  <h3 *ngIf="tasks.length === 0">Dzisiaj brak zadań :-)</h3>

  <button
    class="btn red"
    (click)="cleanTasks()"
    [disabled]="tasks.length === 0"
  >
    {{ cleanLabel }}
  </button>

  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">
        {{ config?.date | date: 'yyyy-MM-dd EEEE':'':'' | lowercase }}
        {{ config?.footer }}
      </div>
    </div>
  </footer>
  <br />

  <div>
    tasks:
    <br />
    {{ tasks | json }}
  </div>
  <p ng-non-bindable>{{ 'reverse' | reverse }}</p>
</div>
