<div class="container">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{ config?.title | uppercase }}</span>
    </div>
  </nav>

  <div class="col">
    <ng-container *ngIf="editMode; then editOn; else editOff"> </ng-container>

    <ng-template #editOff>
      <button class="btn col s2 offset-s10 ml-5" (click)="switchEditMode()">
        Dodaj zadanie
      </button>
    </ng-template>

    <ng-template #editOn>
      <button class="btn col s2 offset-s10 ml-5" (click)="switchEditMode()">
        Zakończ dodawanie
      </button>
    </ng-template>
  </div>

  <ng-container *ngIf="editMode">
    <div class="row">
      <input
        #taskNameLabel
        class="col s8"
        type="text"
        placeholder="Dodaj zadanie i datę wykonania"
        [(ngModel)]="taskName"
      />
      <input
        #taskDeadlineLabel
        class="col s2 disabled"
        type="date"
        [(ngModel)]="taskDeadline"
      />
      <button
        class="btn-floating ml-5"
        (click)="newTask()"
        [disabled]="
          taskNameLabel.value.trim().length === 0 ||
          taskDeadlineLabel.value.trim().length === 0
        "
      >
        +
      </button>
    </div>
  </ng-container>

  <br />
  <ng-container *ngIf="tasks.length > 0; then taskList; else noTasks">
  </ng-container>

  <ng-template #taskList>
    <ul class="collection">
      <ng-container
        *ngFor="
          let item of tasks;
          let i = index;
          let first = first;
          let last = last
        "
        [ngSwitch]="item.done"
      >
        <li class="collection-item row" *ngSwitchCase="false">
          <span class="col s10">
            {{ i + 1 }}. [{{
              item.deadline | date: "yyyy-MM-dd EEEEEE":"":"pl"
            }}] -
            {{ item.name }}
            <span *ngIf="first && !last"> [first]</span>
            <span *ngIf="last && !first"> [last] </span>
            <span *ngIf="first && last"> [first and last] </span>
          </span>
          <div class="col s2 right-align">
            <button
              class="btn-floating btn-small red"
              (click)="deleteTask(item)"
            >
              <i class="material-icons">delete</i>
            </button>
            <button class="btn-floating btn-small green ml-5">
              <i class="material-icons" (click)="markTaskAsDone(item)">check</i>
            </button>
          </div>
        </li>
        <li class="collection-item row" *ngSwitchCase="true">
          <span class="col done s10">
            {{ i + 1 }}. [{{
              item.deadline | date: "yyyy-MM-dd EEEEEE":"":"pl"
            }}] - {{ item.name }}
          </span>
          <div class="col s2 right-align">
            <button
              class="btn-floating btn-small red"
              (click)="deleteTask(item)"
            >
              <i class="material-icons">delete</i>
            </button>

            <button class="btn-floating btn-small green ml-5 hidden ">
              <i class="material-icons" >check</i>
            </button>

          </div>
        </li>
      </ng-container>
    </ul>
  </ng-template>

  <ng-template #noTasks>
    <h4>Brak zadań</h4>
  </ng-template>

  <button
    class="btn red"
    (click)="cleanTasks()"
    [disabled]="tasks.length === 0"
  >
    {{ cleanLabel }}
  </button>

  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">
        {{ config?.date | date: "yyyy-MM-dd EEEE":"":"" | lowercase }}
        {{ config?.footer }}
      </div>
    </div>
  </footer>
  <br />

  <div>
    Tasks:
    <pre contenteditable="true">{{ tasksToJsonFormat() }}</pre>
    <!-- <pre contenteditable="true">{{ tasks | json }}</pre> -->
  </div>

</div>
